<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=KHAWAR-PC;Initial Catalog=PayRoll;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Server=ca7dc611-551c-4c0a-8792-a5f1011f42de.sqlserver.sequelizer.com;Database=dbca7dc611551c4c0a8792a5f1011f42de;User ID=uayvtvpjmzryaepj;Password=tXjQgUPSRvYji28tXLDwFWTqGeyvhyWmcR262eFdtphyaAnK6vjvMoXEe2hcusJr;"
      providerName="System.Data.SqlClient" />
    
    
  </connectionStrings>
</configuration>